header
	img(src="images/logo.png", style='width: 20%;', alt="logo")

#carousel-example-generic.carousel.slide(data-ride='carousel')
	ol.carousel-indicators
		li.active(data-target='#carousel-example-generic', data-slide-to='0')
		li(data-target='#carousel-example-generic', data-slide-to='1')
		li(data-target='#carousel-example-generic', data-slide-to='2')
	.carousel-inner
		.item.active
			img(src='images/molde_slider 01.jpg', alt='Slider 1')
			.carousel-caption
		
		.item
			img(src='images/molde_slider 01.jpg', alt='Slider 1')
			.carousel-caption

		.item
			img(src='images/molde_slider 01.jpg', alt='Slider 1')
			.carousel-caption

	a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
		span.glyphicon.glyphicon-chevron-left
	a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
		span.glyphicon.glyphicon-chevron-right


#container
	div
		h3 Diseño de paginas Web

		p Realizando un proceso de planeación y acompañamiento con usted como cliente, consolidamos la información necesaria para que sus necesidades informáticas comerciales se conviertan en una realidad digital.
			br
			br
	div
		h3 Análisis, diseño e implementación de aplicaciones Web y Móviles
		p Sabemos que sus necesidades como cliente no se solucionan todas con una pagina web, por eso estamos dispuestos a ayudarlo para identificar los procesos manuales y convertirlos en procesos sistemáticos digitales para incrementar la eficiencia y rendimiento de su empresa.
	div
		h3 Análisis de datos
		p Nos enfrentamos a la difícil tarea de unificar bases de datos ya sean de archivos Excel, archivos planos o motores de bases de datos como SQL Server, MySQL, Oracle, PostgresSQL. Con el fin de entregar a nuestros clientes información entendible, limpia, consolidada y funcional.
			br
footer.footer
	p Todos los derechos reservados 2014 conoz.co Hecho en Colombia